<aside class="SideNavigationBar left">
  <div class="CompanionBar">
    <div
      *ngFor="let item of sidebarNavItems; let i = index"
      class="VerticalEditorButton"
      [class.active]="selectedSidebarItem === i"
      (click)="selectSidebarItem(i)"
      [attr.title]="item.label"
    >
      <span class="nav-text">{{ item.label }}</span>
    </div>
  </div>

  <div class="NavigationBarContentWrapper">
    <ng-container [ngSwitch]="selectedSidebarItem">
      <div *ngSwitchCase="0">
        <div class="grid grid-cols-2 gap-4 p-2">
          <div
            class="border border-gray-300 p-2 flex items-center justify-center relative"
            *ngFor="let variant of variants"
            (click)="selectVariant(variant)"
          >
            <img
              [src]="variant.path"
              alt="Variant"
              class="max-w-full object-contain"
            />
            <span
              class="absolute top-1 left-1 bg-black text-white text-xs px-1 py-0.5 rounded"
            >
              {{ variant.type }}
            </span>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="1" class="ContentPanel">
        <h2 class="PanelTitle">Tools</h2>
        <p>Blabla</p>
      </div>

      <div *ngSwitchCase="2" class="ContentPanel">
        <h2 class="PanelTitle">Zoom Controls</h2>
        <p>Ok</p>
      </div>

      <div *ngSwitchCase="3" class="ContentPanel">
        <h2 class="PanelTitle">Annotations</h2>
        <p>oKKK</p>
      </div>

      <div *ngSwitchCase="4" class="ContentPanel">
        <h2 class="PanelTitle">Images</h2>
      </div>
    </ng-container>
  </div>

  <app-map-modal
    [isOpen]="showMapModal"
    [coordinates]="mapCoordinates"
    [heading]="mapHeading ?? 0"
    (closeModalEvent)="closeMapModal()"
  >
  </app-map-modal>
</aside>
