<div class="flex h-screen">
  <section
    hlmCard
    class="w-1/2 flex items-center justify-center p-10 bg-white shadow-lg rounded-lg"
  >
    <div class="max-w-md w-full">
      <div hlmCardHeader>
        <h3 hlmCardTitle class="text-3xl font-bold">Welcome Back!</h3>
        <p hlmCardDescription>Log in to your account</p>
      </div>

      <div *ngIf="errorMessages.length > 0" class="text-red-500 text-sm mb-4">
        <p *ngFor="let error of errorMessages">{{ error }}</p>
      </div>

      <div hlmCardContent>
        <label for="email" class="block text-gray-700 font-semibold"
          >Email</label
        >
        <input
          id="email"
          hlmInput
          type="email"
          placeholder="Enter your email"
          class="w-full p-2 border rounded-lg mb-4"
          [(ngModel)]="email"
        />

        <label for="password" class="block text-gray-700 font-semibold"
          >Password</label
        >
        <input
          id="password"
          hlmInput
          type="password"
          placeholder="Enter your password"
          class="w-full p-2 border rounded-lg mb-4"
          [(ngModel)]="password"
        />

        <label class="flex items-center">
          <input type="checkbox" hlmInput class="mr-2" />
          Remember me
        </label>
      </div>

      <div hlmCardFooter class="mt-4">
        <button
          hlmBtn
          variant="default"
          class="w-full"
          size="sm"
          (click)="login()"
        >
          Sign In
        </button>
      </div>
    </div>
  </section>

  <div
    class="w-1/2 bg-black flex items-center justify-center text-white text-center p-10"
  >
    <div>
      <img src="assets/img/logo.svg" alt="Spartan Logo" class="mt-8" />
    </div>
  </div>
</div>
