<ng-container *ngIf="!isLoading; else loading">
  <ng-container *ngIf="trafficSigns && trafficSigns.length > 0; else noSigns">
    <div class="grid grid-cols-2 w-full h-full">
      <div
        class="border border-[#333] p-4 flex items-center justify-center relative cursor-pointer"
        *ngFor="let sign of trafficSigns"
        (mouseenter)="onMouseEnterSign(sign)"
        (mouseleave)="onMouseLeaveSign()"
      >
        <img
          [src]="formatTrafficSignUrl(sign.predicted_label)"
          alt="Traffic Sign"
          class="w-[100%] object-contain mt-6"
        />
        <span
          class="absolute top-1 left-1 bg-black text-white text-xs px-1 py-0.5 rounded"
        >
          {{ sign.predicted_label }} ({{ sign.accuracy }})
        </span>
      </div>
    </div>
  </ng-container>

  <ng-template #noSigns>
    <div class="w-full p-4 text-center bg-[#2F2F2F] text-white">
      No traffic signs detected.
    </div>
  </ng-template>
</ng-container>

<ng-template #loading>
  <div
    class="w-full h-full flex flex-col items-center justify-center text-white"
  >
    <fa-icon icon="circle-notch" class="fa-spin mb-2" size="2x"></fa-icon>
    <span>Loading traffic signs...</span>
  </div>
</ng-template>
